<div class="search-container">
    <input type="text" class="search-input big-search-input" placeholder="Search" (change)="onSearch($event)">
    <img class="search-image" src="../../assets/search-icon-png.png" (click)="onSearch('')">
</div>






<div class="card">
    <a routerLink="/tracker-form" class="link">
    <img src="../../assets/hospitalk.png" alt="Logo">
   <p> Click here to Add Clinic details</p></a>
  </div>
  <div class="Doc">
    <a routerLink="/doctor-form" class="link">
    <img class="doctor-image" src="../../assets/doctorr.jpeg" alt="Logo">
   <p> Click here to Add Doctor details</p></a>
  </div>

  